// Global

@import "global/variables.scss";
@import "global/global.scss";

// Blocks
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/container.scss";
@import "blocks/language-change.scss";
@import "blocks/invite.scss";
@import "blocks/more-info.scss";
@import "blocks/form.scss";
@import "blocks/page-footer.scss";
@import "blocks/location.scss";
@import "blocks/social.scss";
@import "blocks/contacts.scss";