//Fonts

$title-fonts: 'Marmelad', sans-serif;
$text-fonts: 'Raleway', sans-serif;

//Viewports
$mobile-width: 320px;
$tablet-width: 880px;
$desktop-width: 1280px;

// Colors global

$basic-white: #ffffff;
$basic-black: #372E11;
$basic-blue: #FFE182;

// Colors special