.invite {
    background: url("../assets/img/background-1-mobile.png") no-repeat;
    background-size: contain;
    background-position: center;
    padding: 90px 0 152px;

    @media (min-width: $tablet-width) {
        background: url("../assets/img/background-1-tablet.png") no-repeat;
        background-size: 110%;
        background-position: center;
        padding: 80px 0 207px;
    }

    @media (min-width: $desktop-width) {
        background: url("../assets/img/background-1.jpg") no-repeat;
        background-size: 105%;
        padding: 106px 0 231px;
    }
}

.invite__wrapper {
    @media (min-width: $desktop-width) {
        padding: 0 175px;
    }
}

.invite__title {
    font-family: $title-fonts;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $basic-black;
    margin-top: 0;
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.invite__title--large {
    display: none;

    @media (min-width: $tablet-width) {
        display: block;
        font-size: 55px;
        line-height: 67px;
        margin-bottom: 40px;
    }
}

.invite__text {
    font-family: $text-fonts;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $basic-black;
    margin-top: 0;
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 40px;
    }
}