.main-nav {
    margin: 0;
    display: block;
    width: 100%;
  
    @media (min-width: $desktop-width) {
        margin: 0;
        margin-right: 118px;
        position: inherit;
        top: 0;
        z-index: 0;
        width: auto;
    }

    @media (min-width: $lg-desktop-width) {
        margin-right: 204px;
    }
}

.main-nav--script-close {
    display: none;
}
  
.main-nav--script-open {
    display: block;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 100%;
    background-color: $basic-white;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
        padding-bottom: 0;
    }
}

.main-nav__list {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
            display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;

    @media (min-width: $desktop-width) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
                flex-direction: row;
    }
}

.menu__item {
    padding: 10px 0;
    border-bottom: 1px solid transparent;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-bottom: 1px solid $basic-black;
    }

    @media (min-width: $desktop-width) {
        margin-right: 30px;
    }
}

.menu__link {
    text-transform: uppercase;
    color: $basic-black;
    font-family: $text-fonts;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    @media (min-width: $desktop-width) {
        text-transform: none;
    }
}